<div class="mainContent" bg-image="">
  <br><br>
<div class="myBlogs">
    {{#each blogs as |blog|}}
    <hr>
    <h3> Post by :{{blog.Name}}</h3> 
    <form action="/blogs/{{blog.ID}}" method="get">
    <h7><button type="submit" class="viewButton">view</button></h7>
    </form>
    <br>
    <h5 > 🔹{{blog.blogContent}}</h5>
    <br> 
    <img src="{{blog.Image}}" onerror="this.style.display='none';" srcset="" style="width: 500px; height: 550px;">   
    {{/each}}
    <hr>
 </div>
 <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
 </div>