<p class="mynavBar">
        <a href="/"  id="comp" class="navElements"> Community Post</a>
        <a href="#"  class="navElements"> About</a>
        <a href="#"  class="navElements"> Notice Board</a>
        <button class="newPost"><a href="/blog/new"> New Post</a></button>
    </p>